<%- include('./layouts/header.ejs'); -%>
    <!-- main -->
    <div id="wrap_main">
        <!-- sidebar -->
        <%- include('./layouts/sidebar'); -%>
            <!-- end sidebar -->
            <%- include('./layouts/navbar'); -%>
                <!-- content -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Welcome to
                                <strong>Adnimistrator</strong>
                            </div>
                            <div class="panel-body">
                                <label class="label label-primary">Sample</label>
                                <ul style="padding-left: 20px;margin-top: 10px;">
                                    <li>
                                        <a href="">Write your first blog post</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content -->
    </div>
    <!-- end main -->
    <%- include('./layouts/footer'); -%>