<%- include('../layouts/inc/functions.ejs'); -%>
    <!-- https://hoangsi.com/ -->
    <!DOCTYPE html>
    <html lang='en'>

    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <link rel="stylesheet" href="<%= get_admin_url(); %>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= get_admin_url(); %>/css/users.css">
        <title>Forgot your password?</title>
    </head>

    <body>
        <div class="container" id="wrap">
            <div id="wrap_cont">
                <div class="panel col-md-4 col-md-offset-4">
                    <div class="panel-body">
                        <form id="password_reset" action="/password_reset" method="post" v-on:submit.prevent="password_reset" ref="form">
                            <div v-if="sent_email">
                                <small>{{ sent_email }}</small>
                                <hr style="margin: 10px 0;">
                                <div class="clearfix"></div>
                                <div class=" text-center" style="margin-top: 5px;">
                                    <a href="/signin" class="btn btn-default">Return to sign in</a>
                                </div>
                            </div>
                            <div v-if="!sent_email">
                                <div class="errors" v-if="errors.length">
                                    <p>Please correct the following error(s):</p>
                                    <ul>
                                        <li v-for="error in errors">
                                            <small>{{ error }}</small>
                                        </li>
                                    </ul>
                                    <hr style="margin: 10px 0;">
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        <small>Enter your email address and we will send you a link to reset your password.</small>
                                    </label>
                                    <input type="text" class="form-control" name="email" v-model="email" ref="email" v-focus autocomplete="off" placeholder="Enter your email address">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Send password reset email</button>
                                </div>
                                <small>
                                    <a href="/signin">Return to sign in</a>
                                </small>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="<%= get_admin_url(); %>/js/vue.min.js"></script>
        <script>
            Vue.directive('focus', {
                inserted: function (el) { el.focus() }
            });
            var password_reset = new Vue({
                el: '#password_reset',
                data: {
                    email: null,
                    errors: [],
                    sent_email: null,
                    processing: true
                },
                methods: {
                    password_reset: function () {
                        this.errors = [];
                        if (!this.email) {
                            this.errors.push("Email required.")
                        } else if (!this.valid_email(this.email)) {
                            this.errors.push("Valid email required.");
                        }
                        if (!this.errors.length && this.processing == true) {
                            this.$refs.form.submit();
                            this.processing = false;
                            setTimeout(() => {
                                this.processing = true; // chặn việc click nhiều lần
                            }, 5000);
                        }
                    },
                    valid_email: function (email) {
                        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return re.test(email);
                    }
                }
            });

        </script>
        <% if(typeof not_match_key !== 'undefined' && not_match_key!='') { %>
            <script>
                password_reset.errors.push("The reset link you have followed is invalid. Please try again.");
            </script>
            <% } %>
                <% if(typeof not_match_email !== 'undefined' && not_match_email!='') { %>
                    <script>
                        password_reset.errors.push("No client account was found with the email address you entered.");
                    </script>
                    <% } %>
                    <% if(typeof unverify !== 'undefined' && unverify!='') { %>
                        <script>
                            password_reset.errors.push("Email chưa được xác minh, vui lòng check hộp thư và xác minh rằng Email này thuộc tài khoản của bạn.");
                        </script>
                        <% } %>
                        <% if(typeof sent_email !== 'undefined' && sent_email!='') { %>
                            <script>
                                password_reset.sent_email = "Please check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.";
                            </script>
                            <% } %>
                            
    </body>

    </html>